# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.egg
*.egg-info/
.Python
env/
venv/
.venv/
.idea/
idea/
*.iml
*.ipr
ENV/
build/
develop-eggs/
dist/
.eggs/
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
.pyenv/
.mypy_cache/
.dmypy.json
.pyre/
*.sqlite3